In [9]:
import pandas as pd
import nltk
nltk.download('words')

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\ExPertComputer\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [10]:
df = pd.read_csv('spam.csv', encoding='latin1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [11]:
df['v2'] = df['v2'].str.replace(r'[^a-zA-Z\s]', '', regex=True)
df['v2']

0       Go until jurong point crazy Available only in ...
1                                 Ok lar Joking wif u oni
2       Free entry in  a wkly comp to win FA Cup final...
3             U dun say so early hor U c already then say
4       Nah I dont think he goes to usf he lives aroun...
                              ...
5567    This is the nd time we have tried  contact u U...
5568                   Will  b going to esplanade fr home
5569    Pity  was in mood for that Soany other suggest...
5570    The guy did some bitching but I acted like id ...
5571                            Rofl Its true to its name
Name: v2, Length: 5572, dtype: object

In [12]:
words = set(nltk.corpus.words.words())

In [13]:
df['v2'] = df['v2'].astype(str).apply(
    lambda x: " ".join(w for w in nltk.wordpunct_tokenize(x) 
                       if w.lower() in words or not w.isalpha())
)

In [14]:
df['length']= df['v2'].astype(str).apply(len)
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,length
0,ham,Go until point crazy Available only in n great...,NaN,NaN,NaN,83
1,ham,lar u,NaN,NaN,NaN,5
2,spam,Free entry in a to win FA Cup final st May Tex...,NaN,NaN,NaN,76
3,ham,U dun say so early U c already then say,NaN,NaN,NaN,39
4,ham,I dont think he goes to he around here though,NaN,NaN,NaN,45
...,...,...,...,...,...,...
5567,spam,This is the time we have tried contact u U hav...,NaN,NaN,NaN,108
5568,ham,Will b going to esplanade home,NaN,NaN,NaN,30
5569,ham,Pity was in mood for that other,NaN,NaN,NaN,31
5570,ham,The guy did some but I like id be interested i...,NaN,NaN,NaN,102
5571,ham,Its true to its name,NaN,NaN,NaN,20

In [15]:
df.isna().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
length           0
dtype: int64

In [16]:
df=df.dropna(axis=1)
df

        v1                                                 v2  length
0      ham  Go until point crazy Available only in n great...      83
1      ham                                              lar u       5
2     spam  Free entry in a to win FA Cup final st May Tex...      76
3      ham            U dun say so early U c already then say      39
4      ham      I dont think he goes to he around here though      45
...    ...                                                ...     ...
5567  spam  This is the time we have tried contact u U hav...     108
5568   ham                     Will b going to esplanade home      30
5569   ham                    Pity was in mood for that other      31
5570   ham  The guy did some but I like id be interested i...     102
5571   ham                               Its true to its name      20

[5572 rows x 3 columns]

In [17]:
df['text2']=''
df.head()

C:\Users\ExPertComputer\AppData\Local\Temp\ipykernel_16372\2038125459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text2']=''

     v1                                                 v2  length text2
0   ham  Go until point crazy Available only in n great...      83
1   ham                                              lar u       5
2  spam  Free entry in a to win FA Cup final st May Tex...      76
3   ham            U dun say so early U c already then say      39
4   ham      I dont think he goes to he around here though      45

In [18]:
df.tail()

        v1                                                 v2  length text2
5567  spam  This is the time we have tried contact u U hav...     108
5568   ham                     Will b going to esplanade home      30
5569   ham                    Pity was in mood for that other      31
5570   ham  The guy did some but I like id be interested i...     102
5571   ham                               Its true to its name      20

In [19]:
df.dtypes

v1        object
v2        object
length     int64
text2     object
dtype: object

In [20]:
df['v1'].unique()

array(['ham', 'spam'], dtype=object)

In [21]:
df['v1'].value_counts()

v1
ham     4825
spam     747
Name: count, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
label_encoder=LabelEncoder()

In [24]:
df['v1']=label_encoder.fit_transform(df['v1'])

C:\Users\ExPertComputer\AppData\Local\Temp\ipykernel_16372\2432626549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['v1']=label_encoder.fit_transform(df['v1'])

In [25]:
df.head()

   v1                                                 v2  length text2
0   0  Go until point crazy Available only in n great...      83
1   0                                              lar u       5
2   1  Free entry in a to win FA Cup final st May Tex...      76
3   0            U dun say so early U c already then say      39
4   0      I dont think he goes to he around here though      45

In [26]:
df.dtypes

v1         int64
v2        object
length     int64
text2     object
dtype: object

In [27]:
df["v1"].unique()

array([0, 1])

In [ ]:
df["v1"].value_counts()