### Downloading Libraries

In [109]:
import pandas as pd
import nltk
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
nltk.download('words')

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\ExPertComputer\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [110]:
df = pd.read_csv('spam.csv', encoding='latin1')
df

        v1  ... Unnamed: 4
0      ham  ...        NaN
1      ham  ...        NaN
2     spam  ...        NaN
3      ham  ...        NaN
4      ham  ...        NaN
...    ...  ...        ...
5567  spam  ...        NaN
5568   ham  ...        NaN
5569   ham  ...        NaN
5570   ham  ...        NaN
5571   ham  ...        NaN

[5572 rows x 5 columns]

In [111]:
df['v2'] = df['v2'].str.replace(r'[^a-zA-Z\s]', '', regex=True)
df['v2']

0       Go until jurong point crazy Available only in ...
1                                 Ok lar Joking wif u oni
2       Free entry in  a wkly comp to win FA Cup final...
3             U dun say so early hor U c already then say
4       Nah I dont think he goes to usf he lives aroun...
                              ...
5567    This is the nd time we have tried  contact u U...
5568                   Will  b going to esplanade fr home
5569    Pity  was in mood for that Soany other suggest...
5570    The guy did some bitching but I acted like id ...
5571                            Rofl Its true to its name
Name: v2, Length: 5572, dtype: object

In [112]:
words = set(nltk.corpus.words.words())

In [113]:
df['v2'] = df['v2'].astype(str).apply(
    lambda x: " ".join(w for w in nltk.wordpunct_tokenize(x) 
                       if w.lower() in words or not w.isalpha())
)

In [114]:
df['length']= df['v2'].astype(str).apply(len)

In [115]:
df=df.dropna(axis=1)

In [116]:
df['text2']=''
df.head()

C:\Users\ExPertComputer\AppData\Local\Temp\ipykernel_6340\2038125459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text2']=''

     v1                                                 v2  length text2
0   ham  Go until point crazy Available only in n great...      83
1   ham                                              lar u       5
2  spam  Free entry in a to win FA Cup final st May Tex...      76
3   ham            U dun say so early U c already then say      39
4   ham      I dont think he goes to he around here though      45

In [117]:
label_encoder=LabelEncoder()

In [118]:
df['v1']=label_encoder.fit_transform(df['v1'])

C:\Users\ExPertComputer\AppData\Local\Temp\ipykernel_6340\2432626549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['v1']=label_encoder.fit_transform(df['v1'])

In [119]:
df["v1"].value_counts()

v1
0    4825
1     747
Name: count, dtype: int64

## CountVectorize

In [120]:
vectorizer= CountVectorizer()

In [121]:
train_text=df.dropna(subset=["v2"])

In [122]:
x=vectorizer.fit_transform(train_text)

In [123]:
feature_names=vectorizer.get_feature_names_out()

In [124]:
x_array=x.toarray()

In [126]:
print("Unique Word List: \n", feature_names)

Unique Word List:
 ['length' 'text2' 'v1' 'v2']

In [ ]:
print("Unique Word List: \n", x_array)